In [25]:
# 적합성 검정 예제
import seaborn as sns
df = sns.load_dataset('mpg')

In [26]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [27]:
df['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [28]:
usa = df.loc[df['origin'] == 'usa','origin'].value_counts()/df['origin'].value_counts().sum()
japan = df.loc[df['origin'] == 'japan','origin'].value_counts()/df['origin'].value_counts().sum()
europe = df.loc[df['origin'] == 'europe','origin'].value_counts()/df['origin'].value_counts().sum()

In [29]:
print(usa * 398)
print(japan * 398)
print(europe * 398)

usa    249.0
Name: origin, dtype: float64
japan    79.0
Name: origin, dtype: float64
europe    70.0
Name: origin, dtype: float64

In [30]:
import numpy as np
import pandas as pd
from scipy import stats
# 일원카이제곱 검정 
# origin의 관측도수와 기대도수의 비율차이가 통계적으로 유의한가?
# 문제: 제품의 출신을 조사하니 usa : 60, japan : 20, europe : 20이 나왔다. 
# 이 가설에 대한 적합도 검정을 수행하라.

In [31]:
# 카이제곱 검정을 시행하기 위해 각 origin의 빈도를 table에 저장한다. 
table = df[['origin']].value_counts()

In [ ]:
# usa 카테고리의 예상 빈도
len(df['origin']) * 0.6

In [35]:
# europe, japan 카테고리의 예상 빈도 
len(df['origin']) * 0.2

79.60000000000001

In [36]:
# 적합도 검정을 수행한다.
from scipy.stats import chisquare
chi = chisquare(table, f_exp = [238.8,79.6,79.6])
print('적합도 검정')
print(chi)

적합도 검정
Power_divergenceResult(statistic=1.5979899497487415, pvalue=0.44978077801996397)

In [ ]:
# 적합도 검정 결과 p-value가 유의수준 0.05보다 크므로 대립가설을 기각하고 귀무가설을 지지한다.
# H0 : 전체 origin 중 usa의 비율이 60%, japan의 비율이 20%, europe의 비율이 20%이다.
# H1 : 전체 origin 중 usa의 비율이 60%, japan의 비율이 20%, europe의 비율이 20%이 아니다.
# 따라서 관측도수인 usa의 비율이 60%, japan의 비율이 20%, europe의 비율이 20%와 기대 도수의 비율은 통계적으로 유의한 차이가 없음을 알 수 있다.