# 과제 3-3 문자열 데이터 변환하기 (str)

## 1 '6.세종시_오피스텔(매매)_실거래가.csv' 데이터 불러오기

In [32]:
import pandas as pd
df = pd.read_csv('../data/6.세종시_오피스텔(매매)_실거래가.csv')
df

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN
...,...,...,...,...,...,...,...,...,...,...,...
340,202012,20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"16,410",6,2020,NaN
341,202012,21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"8,600",18,2014,NaN
342,202012,23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"15,340",7,2020,20210118.0
343,202012,23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"11,500",9,2014,NaN
344,202012,24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"15,600",18,2014,NaN

## 2. 시군구 띄어쓰기로 3개의 컬럼으로 변경

In [33]:
df[['시','군','구']]=df['시군구'].str.split(' ',expand = True)
df

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,시,군,구
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN,세종특별자치시,어진동,None
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN,세종특별자치시,어진동,None
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN,세종특별자치시,나성동,None
3,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",4,2014,NaN,세종특별자치시,어진동,None
4,201702,7,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",4,2014,NaN,세종특별자치시,어진동,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,202012,20,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"16,410",6,2020,NaN,세종특별자치시,나성동,None
341,202012,21,세종특별자치시 어진동,0,0,푸르지오시티,24.22,"8,600",18,2014,NaN,세종특별자치시,어진동,None
342,202012,23,세종특별자치시 나성동,756,0,리치먼드시티세종,26.18,"15,340",7,2020,20210118.0,세종특별자치시,나성동,None
343,202012,23,세종특별자치시 어진동,0,0,2차푸르지오시티,30.48,"11,500",9,2014,NaN,세종특별자치시,어진동,None
344,202012,24,세종특별자치시 어진동,0,0,푸르지오시티,44.84,"15,600",18,2014,NaN,세종특별자치시,어진동,None

## 3. 도담동 => 고운동으로 변경

In [34]:
df.loc[df['군'] == '도담동','군'] = '고운동'
df['군'].unique()

array(['어진동', '나성동', '고운동', '조치원읍', '부강면'], dtype=object)

## 4. 세종시 오피스텔 거래금액(만원)을 int형으로 변경하세요

In [35]:
df['거래금액(만원)'] = df['거래금액(만원)'].str.split(',').str.get(0) + df['거래금액(만원)'].str.split(',').str.get(1)
df['거래금액(만원)'] = df['거래금액(만원)'].astype(int)
df['거래금액(만원)']

0       9000
1       9500
2      13000
3       9500
4       9000
       ...
340    16410
341     8600
342    15340
343    11500
344    15600
Name: 거래금액(만원), Length: 345, dtype: int32

## 5. 시군구별 전용면적(㎡)별 오피스텔 거래금액 평균 값 구하기

In [37]:
df.groupby(['시군구'])[['전용면적(㎡)']].mean()

                   전용면적(㎡)
시군구
세종특별자치시 나성동      33.269615
세종특별자치시 도담동      26.993636
세종특별자치시 부강면 부강리  83.010000
세종특별자치시 어진동      24.549214
세종특별자치시 조치원읍 남리  32.315000
세종특별자치시 조치원읍 명리  68.210000

## 6. 계약년월 별, 평균 오피스텔 가격 구하기

In [38]:
df.groupby(['계약년월'])[['거래금액(만원)']].mean()

            거래금액(만원)
계약년월
201701   9250.000000
201702  10707.142857
201703  11775.000000
201704   9183.333333
201705  10900.000000
201706  11425.000000
201707   6100.000000
201708   9966.666667
201709   8950.000000
201710  10063.000000
201711   9350.000000
201712  13450.000000
201801  15800.000000
201802   9800.000000
201803  11007.142857
201804   9750.000000
201805  10460.000000
201806  13000.000000
201807   9066.666667
201808   8571.428571
201809   7650.000000
201810   9841.750000
201811   9350.000000
201812   9433.333333
201901   8400.000000
201902   7800.000000
201903  10300.000000
201904  12678.000000
201905   8100.000000
201906   9355.000000
201907   8490.000000
201908   9300.000000
201909  11600.000000
201910   7333.333333
201911   9235.714286
201912   8914.285714
202001   9964.285714
202002   8378.571429
202003   9137.500000
202004   9406.363636
202005   8103.333333
202006   8642.500000
202007   9103.750000
202008  10105.142857
202009   9175.000000
202010   7931.578947
202011   8719.230769
202012  11496.666667